- milestone = local_assigns[:milestone]
- burndown = burndown_chart(milestone)
- warning = data_warning_for(burndown)

= warning

- if can_generate_chart?(milestone, burndown)
  .burndown-header
    %h3
      Burndown chart
      .btn-group.js-burndown-data-selector
        %button.btn.btn-sm.active{ data: { show: 'count' } }
          Issues
        %button.btn.btn-sm{ data: { show: 'weight' } }
          Issue weight
  .burndown-chart{ data: { start_date: burndown.start_date.strftime("%Y-%m-%d"), due_date: burndown.due_date.strftime("%Y-%m-%d"), chart_data: burndown.to_json } }

- elsif show_burndown_placeholder?(milestone, warning)
  .burndown-hint.content-block.container-fluid
    = icon("times", class: "dismiss-icon")
    .row
      .col-sm-4.col-12.svg-container
        = custom_icon('icon_burndown_chart_splash')
      .col-sm-8.col-12.inner-content
        %h4
          Burndown chart
        %p
          View your milestone's progress as a burndown chart.  Add both a start and a due date to
          this milestone and the chart will appear here, always up-to-date.

        = link_to "Add start and due date", edit_milestone_path(milestone), class: 'btn'
= render 'shared/promotions/promote_burndown_charts', milestone: milestone
